<h1>{{title}}</h1>

<div class="row">
    
    <div class="col-md-2">
         <!-- sidebar content -->
         <ul class="nav_btns">
            <li ng-repeat="btn in siderbarbtns " class="sidebar_btn">
                <a href="{{btn.location}}">{{btn.name}}</a>
            </li>
        </ul>
         
    </div>
    
    <div class="col-md-8">
        <!--Main content-->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius, massa nec lacinia vehicula, odio odio vulputate risus, ac bibendum justo ligula ac dolor. Aliquam erat volutpat. Sed quis neque suscipit, molestie nunc quis, aliquam mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean sit amet arcu id odio varius tempor sit amet eu enim. Proin eu elementum nibh, nec sollicitudin libero. Nulla sollicitudin magna sodales metus malesuada, id tincidunt enim mattis. Vivamus dictum scelerisque odio. Aliquam molestie hendrerit est, in elementum velit aliquet sit amet. Nam faucibus euismod imperdiet. Cras felis lacus, consequat quis interdum a, vehicula vitae mauris.
        </p>
        <p>Aliquam ultrices enim nec nisi aliquam, porta interdum mi tincidunt. Vivamus vehicula sagittis molestie. Ut facilisis ligula lorem, a vulputate nulla sollicitudin ac. Fusce tincidunt purus eget ligula finibus dignissim. Ut nec est eget mauris semper dictum. Maecenas luctus, velit et tristique posuere, enim odio tempus justo, et malesuada libero nisl convallis eros. In congue porta finibus. Suspendisse vel nulla nec est vehicula scelerisque vitae quis lorem.
        </p>
        <p>Etiam condimentum elit non dui pharetra, eget sodales est finibus. Nullam tincidunt dictum diam ac iaculis. Aliquam maximus nulla vel eros aliquet, at vehicula orci dictum. Nunc id pharetra leo. Etiam id dui at ipsum consectetur iaculis. Phasellus rutrum, lectus quis condimentum elementum, magna metus maximus enim, tincidunt dapibus turpis purus eget lorem. Fusce vitae purus efficitur metus lobortis auctor a non felis. Donec ut leo et lacus mollis laoreet eget eu lorem. Pellentesque volutpat dui purus, quis bibendum nisi volutpat dapibus. Nulla ac interdum quam, sit amet tempus enim. Fusce quis ex nunc. Aenean quis fringilla eros.
        </p>
        <p>Suspendisse potenti. Pellentesque vehicula orci a orci sagittis maximus. Maecenas viverra auctor dolor, et mollis velit faucibus vel. Etiam a lacus at magna aliquam facilisis. Sed malesuada consectetur nisi eu pharetra. Aenean blandit aliquam scelerisque. Etiam scelerisque ex lectus, a interdum tortor venenatis sit amet. Duis efficitur, risus eu rhoncus elementum, turpis nibh porttitor risus, eu porta justo odio vel est.
        </p>
        <p>Maecenas et bibendum quam. Nunc id blandit magna, non pretium leo. Nam molestie ultrices quam, ut posuere justo consequat eget. Duis scelerisque lacinia sem, non lacinia nisi mollis quis. Maecenas nec nibh nec dui porttitor eleifend. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam at aliquet leo. Vivamus id diam vitae sapien scelerisque placerat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ut ex vitae sapien aliquam volutpat.
           </p>             
    </div>
</div>