<h1>{{title}}</h1>

<div class="row">
    <div class="col-md-2">
         <!-- sidebar content -->
         <ul class="nav_btns">
            <li ng-repeat="btn in siderbarbtns " class="sidebar_btn">
                <a href="{{btn.location}}">{{btn.name}}</a>
            </li>
        </ul>
         
    </div>

    <div class="col-md-10">
        <div class="col-md-4">
            <div>
              <alert ng-repeat="alert in loginalerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <br>
            Login<br>
            Username: <input type="string" class="form-control">
            Password: <input type="password" class="form-control">
            <button class="btn btn-default">Submit</button>
        </div>
        
        <div class="col-md-4">
            <div>
              <alert ng-repeat="alert in registeralerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
            <br>
            Register<br>
            Username: <input ng-model="rusername" type="string" class="form-control">
            Password: <input ng-model="rpassword" type="password" class="form-control">
            <button ng-click="register()" class="btn btn-default">Submit</button>
        </div>
    </div>
</div>
